body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: black;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

.nav{
    flex-wrap: wrap;
    list-style: none;
    color: black;
}

a, b, p{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-style: italic;
}

p{
    padding: 15px;
    margin: 0%;
}

#cnt{
    margin-bottom: 0%;
}

.img{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-right: 60px;
}

.icon{
    height: 20px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 200px;
    font-size: 1.2rem;
}

.title, col{
    color: white;
    align-items: center;
}

.col{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aling-center, .title{
    display: flex;
    justify-content: center;
}

.justify-content{
    display: flex;
    justify-content: space-around;
}

.margin{
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.block{
    border: 2px solid rgba(94, 92, 92, 0.521);
    padding: 150px;
}
footer{
    background-color: rgba(94, 92, 92, 0.521);
}

